@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css';
@import '@fontsource/fira-mono';
@import '@fontsource/roboto/400';
@import '@fontsource/roboto/500';
@import '@fontsource/roboto/700';
@import '@fontsource/roboto-serif';

:root {
	--font-body: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--font-serif: 'Roboto Serif', ui-serif, serif;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #2196f3;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--bs-heading-color: var(--color-text);
	--bs-body-color: var(--color-text);
	--bs-body-font-family: var(--font-body);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a,
.btn-link {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.flex-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: white;
	padding: 1.75rem 2rem;
	margin: 1rem;
}

@media (max-width: 768px) {
	.flex-card {
		margin: 0.5rem 0;
	}
}

.center {
	text-align: center;
}

.heading {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.scroll-outer {
	position: relative;
}

.scroll-inner {
	overflow-x: auto;
	max-width: 100%;
}

/* Input Calculator */
span.opinion {
	color: var(--bs-secondary-color) !important;
	font-style: italic;
}

span.number {
	font-family: var(--font-serif);
	margin-right: 0.2em;
	margin-left: 0.2em;
}
